<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">
	<select id="loginCheck" resultType="String">
		SELECT NAME AS userName FROM td_user
		WHERE USERID=#{userId} AND PWD=#{userPw}
	</select>
	
	<select id="viewMember" resultType="com.example.member.MemberVO">
	SELECT
		NAME AS userName,
		USERID AS userId,
		EMAIL AS userEmail,
		REGDATE AS userRegdate
	FROM td_user
	WHERE USERID=#{userId} AND PWD=#{userPw}
	</select>
	
</mapper>